<StackLayout style="padding: 10 5;" #sl ripple (tap)="showModal(sl)">
  <StackLayout class="cardStyle2" style="margin: 5;">
    <GridLayout rows="auto, *" columns="100, *" style="padding: 5 5;">
      <StackLayout row="0" col="0" rowSpan="2">
        <!-- <WebImage
          stretch="aspectFit"
          borderRadius="500"
          horizontalAlignment="center"
          style="margin-right: 15;"
          src="{{speaker?.photo.getImageUrl()}}"

          android:visibility="collapsed"
        >
        </WebImage>
        <Image   stretch="aspectFit"
        borderRadius="500"
        horizontalAlignment="center"
        style="margin-right: 15;"
        src="{{speaker?.photo.getImageUrl()}}"

        ios:visibility="collapsed">

        </Image> -->
        <NSImg  src="{{speaker?.photo.getImageUrl()}}" placeholderImageUri="res://person" verticalAlignment="center" roundAsCircle="true" stretch="aspectFit" style="margin-right: 15;"></NSImg>
      </StackLayout>

      <label
        row="0"
        col="1"
        [text]="speaker.name"
        fontWeight="bold"
        fontSize="14"
        verticalAlignment="center"
        textAlignment="left"
        style="color: #3C4043;"
      ></label>
      <label
        row="1"
        col="1"
        [text]="speaker.role"
        textWrap="true"
        textAlignment="left"
        fontSize="12"
        style="color: #3C4043;"
      ></label>
    </GridLayout>
  </StackLayout>
</StackLayout>
