.aboutPage {
  .aboutPageDesc {
    text-align: center;
    margin-bottom: 15;
  }

  .aboutPageAuthorsDesc {
    margin-left: 15;
  }

  .aboutPageGithubLink {
    font-size: 12;
    margin-left: 15;
    text-decoration: underline;
  }
}
