<StackLayout style="padding: 10 10;">
    <StackLayout class="cardStyle">
        <GridLayout columns="50, *" rows="50, auto, 30, 15" width="auto" height="auto" backgroundColor="#ffffff"
            horizontalAlignment="left" verticalAlignment="center" style="padding: 10 20;">

            <Label [text]="item.icon" class="fa" textAlignment="left" verticalAlignment="center" horizontalAlignment="center"
                fontSize="36" row="0" col="0" style="color: #3C4043;"></Label>


            <Label [text]="item.title" fontWeight="bold" fontSize="16" verticalAlignment="center" textAlignment="left"
                textWrap="true" col="1" row="0" style="color: #ff1744;margin-left: 10;"></Label>

            <StackLayout col="0" row="1" verticalAlignment="center" colSpan="2" style="padding-top: 20;">
                <HtmlView [html]="item.description | mdToHtml">
                </HtmlView>
            </StackLayout>





            <StackLayout *ngIf="item.urlLink" col="0" row="2" colSpan="2" orientation="horizontal">
                <Label text="More info:" verticalAlignment="center" textAlignment="left" style="color: #3C4043"></Label>
                <Label text="here" verticalAlignment="center" textAlignment="left" style="color: #3949ab;text-decoration: underline;margin-left: 5;"
                    (tap)="onLinkTap()"></Label>
            </StackLayout>


        </GridLayout>
    </StackLayout>
</StackLayout>