<GridLayout columns="*" rows="auto, *">
    <GridLayout col="0" row="0" columns="2*, 6*, 2*" rows="auto" style="margin-top: 30; margin-bottom: 15;">
        <Button col="0" row="0" text="&#xf060;" ripple (tap)="close()" class="my-btn fa"
            style="font-size: 20; border-width: 0; width: 70;" textAlignment="center"
            verticalAlignment="center"></Button>

        <Label col="1" row="0" [text]="speaker.name" fontWeight="bold" fontSize="24" verticalAlignment="center"
            textAlignment="center" textWrap="true" style="color: #ff1744;"></Label>
    </GridLayout>

    <ScrollView col="0" row="1" orientation="vertical">
        <StackLayout class="page page-content" style="padding-top: 20;">
            <GridLayout col="0" row="1" class="content-padding" columns="*" rows="auto, auto, auto">
                <NSImg col="0" row="0" [src]="speaker.photo.getImageUrl()" placeholderImageUri="res://person"
                    style="height: 200;margin-top: 10; margin-bottom: 10;" stretch="aspectFit"></NSImg>
                <Label col="0" row="1" [text]="speaker.role" textWrap="true" textAlignment="center" fontWeight="bold"
                    fontSize="15" style="color: #000000;margin-top: 10; margin-bottom: 10;"></Label>
                <Label col="0" row="2" [text]="speaker.bio" textWrap="true" textAlignment="left" fontSize="14"
                    style="color: #000000;margin-top: 10; margin-bottom: 10;"></Label>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
<!-- <GridLayout class="page page-content" columns="*" rows="auto, auto, auto, auto" style="padding-top: 30;">
    <ScrollView>
        <GridLayout columns="*" rows="auto, auto">
            <FlexboxLayout width="auto" height="380" flexDirection="column" style="padding: 10 20;" col="0" row="0">
                <FlexboxLayout height="20%" flexDirection="column" alignItems="center" justifyContent="center">
                    <Label [text]="speaker.name" fontWeight="bold" fontSize="22" verticalAlignment="center"
                        textAlignment="center" textWrap="true" style="color: #ff1744;width: 80%;"></Label>
                </FlexboxLayout>
                <FlexboxLayout height="80%" flexDirection="column" justifyContent="space-around" alignItems="center">
                    <FlexboxLayout height="80%" width="100%" flexDirection="column" alignItems="center" justifyContent="center">
                        <NSImg [src]="speaker.photo.getImageUrl()" placeholderImageUri="res://person" style="width: 90%;height: 90%;" stretch="aspectFit"></NSImg>
                    </FlexboxLayout>
                    <FlexboxLayout height="auto" flexDirection="column" alignItems="center" justifyContent="center">
                        <Label [text]="speaker.role" textWrap="true" textAlignment="center" fontWeight="bold"
                            fontSize="15" style="color: #000000;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
            </FlexboxLayout>

            <StackLayout style="padding: 10 20;" col="0" row="1">
                <Label [text]="speaker.bio" textWrap="true" textAlignment="left" fontSize="14"
                    style="color: #000000;"></Label>
            </StackLayout>
        </GridLayout>
    </ScrollView>

    <AbsoluteLayout>
        <Button text="&#xf060;" (tap)="close()" left="0" top="4" class="my-btn fa"
            style="font-size: 20; border-width: 0; width: 70;"></Button>
    </AbsoluteLayout>
</GridLayout> -->
