<FlexboxLayout width="auto" height="auto" borderColor="black" borderWidth="1" flexDirection="column">
    <FlexboxLayout height="25%" style="background-color: red;" flexDirection="column" alignItems="center" justifyContent="center">
        <Label [text]="workshop.title" fontWeight="bold" fontSize="16" verticalAlignment="center" textAlignment="center"
         textWrap="true"></Label>
    </FlexboxLayout>
    <FlexboxLayout height="75%" flexDirection="column" justifyContent="space-around" alignItems="center" backgroundColor="yellow">
        <FlexboxLayout height="auto" flexDirection="column" alignItems="center" justifyContent="center" backgroundColor="green">

            <Label text="by Nir Kaufman"></Label>


        </FlexboxLayout>
        <FlexboxLayout height="95%" backgroundColor="blue" flexDirection="column" alignItems="center" justifyContent="center">
            <Label [text]="workshop.description" textWrap="true" textAlignment="center" fontSize="14"></Label>
        </FlexboxLayout>
    </FlexboxLayout>

</FlexboxLayout>