TabView {
  tab-text-color: #3949ab;
  selected-tab-text-color: #ff1744;
  tab-background-color: #ffffff;
  android-selected-tab-highlight-color: #ff1744;
  text-transform: none;
}
TabViewItem {
  text-transform: none;
}
