<StackLayout style="padding: 10 10;">
    <CardView class="cardStyle" margin="10" elevation="10" radius="1" style="max-width: 450;margin: 10;"
        shadowOffsetHeight="1">
        <GridLayout columns="*" rows="50, 30, auto, 15" width="auto" height="auto" backgroundColor="#ffffff"
            horizontalAlignment="center" verticalAlignment="center" style="padding: 10 20;">
            <Label [text]="workshop.title" fontWeight="bold" fontSize="16" verticalAlignment="center" textAlignment="center"
                textWrap="true" col="0" row="0" style="color: #ff1744;"></Label>
            <Label text="by Nir Kaufman" col="0" row="1" verticalAlignment="top" textAlignment="center" style="color: #3949ab;"></Label>
            <Label [text]="workshop.description" textWrap="true" textAlignment="left" verticalAlignment="center"
                fontSize="14" col="0" row="2" style="color: #000000;"></Label>

        </GridLayout>
    </CardView>
</StackLayout>