<ActionBar class="action-bar" style="border-width: 1; border-color: transparent;">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()" class="my-nav-btn"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="ngPolandConf" fontSize="18"></Label>
</ActionBar>
<ScrollView style="color: #3C4043;">

    <GridLayout rows="*, *, *" columns="*, *" style="height: 100%;">
        <StackLayout row="0" col="0" 
        style="width: 100%;height: 100%;padding-left: 10;padding-right: 5; padding-top: 10; padding-bottom: 5;">
            <GridLayout columns="*" rows="auto,*" (tap)="onNavItemTap('/schedule')" style="background-color: rgba(255, 23, 68, 0.84);">
                <StackLayout col="0" row="0" verticalAlignment="bottom" horizontalAlignment="center" style="height: 60%;">
                    <Label text="&#xf017;" class="fa" style="color: white;font-size: 72;"></Label>
                </StackLayout>
                <StackLayout col="0" row="1" verticalAlignment="middle" horizontalAlignment="center" style="height: 40%;">
                    <Label text="Schedule" style="color: white;font-size: 18;font-weight: bold;"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>

        <StackLayout row="0" col="1"
         style="width: 100%;height: 100%;padding-left: 5;padding-right: 10; padding-top: 10; padding-bottom: 5;">
                <GridLayout columns="*" rows="auto,*" (tap)="onNavItemTap('/workshops')" style="background-color: rgba(255, 23, 68, 0.83);">
                    <StackLayout col="0" row="0" verticalAlignment="bottom" horizontalAlignment="center" style="height: 60%;">
                        <Label text="&#xf11c;" class="fa" style="color: white;font-size: 64;"></Label>
                    </StackLayout>
                    <StackLayout col="0" row="1" verticalAlignment="middle" horizontalAlignment="center" style="height: 40%;">
                        <Label text="Workshops" style="color: white;font-size: 18;font-weight: bold;"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <StackLayout row="1" col="0" 
            style="width: 100%;height: 100%;padding-left: 10;padding-right: 5; padding-top: 5; padding-bottom: 5;">
                <GridLayout columns="*" rows="auto,*" (tap)="onNavItemTap('/ng-girls')" style="background-color: rgba(255, 23, 68, 0.82);">
                    <StackLayout col="0" row="0" verticalAlignment="bottom" horizontalAlignment="center" style="height: 60%;">
                        <Label text="&#xf182;" class="fa" style="color: white;font-size: 72;"></Label>
                    </StackLayout>
                    <StackLayout col="0" row="1" verticalAlignment="middle" horizontalAlignment="center" style="height: 40%;">
                        <Label text="ngGirls" style="color: white;font-size: 18;font-weight: bold;"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
    
            <StackLayout row="1" col="1"
             style="width: 100%;height: 100%;padding-left: 5;padding-right: 10; padding-top: 5; padding-bottom: 5;">
                    <GridLayout columns="*" rows="auto,*" (tap)="onNavItemTap('/speakers')" style="background-color: rgba(255, 23, 68, 0.81);">
                        <StackLayout col="0" row="0" verticalAlignment="bottom" horizontalAlignment="center" style="height: 60%;">
                            <Label android:text="&#xf0c0;" ios:text="&#xf406;" class="fa" style="color: white;font-size: 72;"></Label>
                        </StackLayout>
                        <StackLayout col="0" row="1" verticalAlignment="middle" horizontalAlignment="center" style="height: 40%;">
                            <Label text="Speakers" style="color: white;font-size: 18;font-weight: bold;"></Label>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>

                <StackLayout row="2" col="0" 
                style="width: 100%;height: 100%;padding-left: 10;padding-right: 5; padding-top: 5; padding-bottom: 10;">
                    <GridLayout columns="*" rows="auto,*" (tap)="onNavItemTap('/info')" style="background-color: rgba(255, 23, 68, 0.80);">
                        <StackLayout col="0" row="0" verticalAlignment="bottom" horizontalAlignment="center" style="height: 60%;">
                            <Label  text="&#xf05a;" class="fa" style="color: white;font-size: 72;"></Label>
                        </StackLayout>
                        <StackLayout col="0" row="1" verticalAlignment="middle" horizontalAlignment="center" style="height: 40%;">
                            <Label text="Info" style="color: white;font-size: 18;font-weight: bold;"></Label>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
        
                <StackLayout row="2" col="1"
                 style="width: 100%;height: 100%;padding-left: 5;padding-right: 10; padding-top: 5; padding-bottom: 10;">
                        <GridLayout columns="*" rows="auto,*" (tap)="onNavItemTap('/about')" style="background-color: rgba(255, 23, 68, 0.79);">
                            <StackLayout col="0" row="0" verticalAlignment="bottom" horizontalAlignment="center" style="height: 60%;">
                                <Label android:text="&#xf121;" ios:text="&#xf0eb;" class="fa" style="color: white;font-size: 64;"></Label>
                            </StackLayout>
                            <StackLayout col="0" row="1" verticalAlignment="middle" horizontalAlignment="center" style="height: 40%;">
                                <Label text="About" style="color: white;font-size: 18;font-weight: bold;"></Label>
                            </StackLayout>
                        </GridLayout>
                    </StackLayout>
    </GridLayout>

</ScrollView>